<?xml version = "1.0"?>
<launch>
    <node pkg = "first_challenge_sample" name = "first_challenge_sample" type = "first_challenge_sample" output = "screen"/>
    <node pkg = "roomba_500driver_meiji" name = "roomba_500driver_meiji" type = "main500"/>
    <node pkg = "urg_node" name = "urg_node" type = "urg_node" args = "_ip_address:=192.168.1.221"/>
</launch>
